{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block title %}

{% endblock %}

{% block body %}


	<div class="banner">
		<h1 class="animate__animated title">BLOG </h1>
	</div>
	<div class="content-area">
		<div class="wrapper hidden">
			<div class="content">

				<h2>Çalışma Ortamı</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae urna ac quam pharetra eleifend. Vivamus tempus dui quis augue consectetur tincidunt. Suspendisse finibus venenatis tincidunt. Donec placerat dignissim turpis, eget tristique nisi ullamcorper ultrices. Ut sed blandit libero, in blandit diam. Mauris sollicitudin sapien nibh, nec vehicula nunc pharetra iaculis. Proin sodales ex a nunc lobortis mattis. Suspendisse eleifend sapien vitae quam ultricies, vitae tempor lacus pulvinar. Vivamus eget arcu dolor. Nullam auctor in nunc non porttitor. Pellentesque blandit venenatis tincidunt. Aenean et est nec lacus rutrum maximus vitae ut velit. Cras rhoncus felis non blandit interdum.
				</p>
			</div>
			<div class="image-area">
				<img src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=80" alt="image 1" />
			</div>
		</div>
		<div class="wrapper wraper-reverse hidden">
			<div class="image-area">
				<img src="{% static "img/blog2.webp" %}" alt="image 1" />
			</div>
			<div class="content">
				<h2>Making Different</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae urna ac quam pharetra eleifend. Vivamus tempus dui quis augue consectetur tincidunt. Suspendisse finibus venenatis tincidunt. Donec placerat dignissim turpis, eget tristique nisi ullamcorper ultrices. Ut sed blandit libero, in blandit diam. Mauris sollicitudin sapien nibh, nec vehicula nunc pharetra iaculis. Proin sodales ex a nunc lobortis mattis. Suspendisse eleifend sapien vitae quam ultricies, vitae tempor lacus pulvinar. Vivamus eget arcu dolor. Nullam auctor in nunc non porttitor. Pellentesque blandit venenatis tincidunt. Aenean et est nec lacus rutrum maximus vitae ut velit. Cras rhoncus felis non blandit interdum.
				</p>
			</div>
		</div>
	</div>
    <div class="content-area">
		<div class="wrapper hidden">
			<div class="content">
				<h2>Constantly Evolving</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae urna ac quam pharetra eleifend. Vivamus tempus dui quis augue consectetur tincidunt. Suspendisse finibus venenatis tincidunt. Donec placerat dignissim turpis, eget tristique nisi ullamcorper ultrices. Ut sed blandit libero, in blandit diam. Mauris sollicitudin sapien nibh, nec vehicula nunc pharetra iaculis. Proin sodales ex a nunc lobortis mattis. Suspendisse eleifend sapien vitae quam ultricies, vitae tempor lacus pulvinar. Vivamus eget arcu dolor. Nullam auctor in nunc non porttitor. Pellentesque blandit venenatis tincidunt. Aenean et est nec lacus rutrum maximus vitae ut velit. Cras rhoncus felis non blandit interdum.
				</p>
			</div>
			<div class="image-area">
				<img src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=80" alt="image 1" />
			</div>
		</div>
		<div class="wrapper wraper-reverse hidden">
			<div class="image-area">
				<img src="{% static "img/blog3.webp" %}" alt="image 1" />
			</div>
			<div class="content">
				<h2>Making Different</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae urna ac quam pharetra eleifend. Vivamus tempus dui quis augue consectetur tincidunt. Suspendisse finibus venenatis tincidunt. Donec placerat dignissim turpis, eget tristique nisi ullamcorper ultrices. Ut sed blandit libero, in blandit diam. Mauris sollicitudin sapien nibh, nec vehicula nunc pharetra iaculis. Proin sodales ex a nunc lobortis mattis. Suspendisse eleifend sapien vitae quam ultricies, vitae tempor lacus pulvinar. Vivamus eget arcu dolor. Nullam auctor in nunc non porttitor. Pellentesque blandit venenatis tincidunt. Aenean et est nec lacus rutrum maximus vitae ut velit. Cras rhoncus felis non blandit interdum.
				</p>

			</div>
		</div>

	</div>






{% endblock %}

